.share-btn {
  display: inline-block;
  padding: 12px 20px 11px 50px;
  border: 3px solid #fff;
  font-family: $Raleway-ExtraBold;
  text-transform: uppercase;
  @include border-radius(25px);
  color: #fff;
  @include transition(all .3s);
  position: relative;
  letter-spacing: 1px;
  font-size: 13px;

  &:before {
    @include pseudo-block($top: 7px, $left: 15px);
    content: 'share';
    font-family: $SSSocialRegular;
    font-size: 19px;
  }

  &:hover {
    color: #c5b3b1;
    background: #fff;
    text-decoration: none;
  }
}

.btn-wrap {

  &.style-tab {

    .btn {
      color: #ccc;
      padding: 9px 20px;
      border: 3px solid #ccc;
      background: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 14px;
      font-family: $Raleway-ExtraBold;
      @include transition(all .3s);
      display: inline-block;
      width: 140px;
      text-align: center;
      float: left;

      &.active, &:hover {
        background: #ba3453;
        border-color: #ba3453;
        color: #fff;
        @include box-shadow(none);
      }

      &:first-child {
        @include border-radius(30px 0 0 30px);
        border-right: none;
      }

      &:last-child {
        @include border-radius(0 30px 30px 0);
        border-left: none;
      }
    }
  }

  &.style-a .btn {
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #fff;
    font-family: $Raleway-ExtraBold;
    text-transform: uppercase;
    @include border-radius(25px);
    color: #fff;
    @include transition(all .3s);
    position: relative;
    letter-spacing: 1px;
    font-size: 13px;

    &:hover {
      color: #c5b3b1;
      background: #fff;
      text-decoration: none;
    }
  }

  &.style-b {

    .btn {
      display: inline-block;
      padding: 8px 30px;
      font-family: $Raleway-ExtraBold;
      text-transform: uppercase;
      @include border-radius(25px);
      color: #fff;
      @include transition(all .3s);
      position: relative;
      letter-spacing: 1px;
      font-size: 13px;
      background: linear-gradient(to right, #8e0e0f, #b04d82);
      border: none;

      &:hover {
        opacity: .7;
      }
    }

    &.big-btn .btn {
      padding: 13px 39px;
    }
  }

  &.style-c .btn {
    color: #ccc;
    padding: 9px 20px;
    @include border-radius(30px);
    border: 3px solid #ccc;
    background: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-family: $Raleway-ExtraBold;
    @include transition(all .3s);

    &:hover {
      color: #fff;
      background: #ccc;
    }
  }

  &.style-black {
    margin-bottom: 20px;

    .btn {
      width: 100%;
      padding: 12px;
      background: #333333;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-family: $Raleway-ExtraBold;
      @include border-radius(40px);
      @include transition(all .3s);

      &:hover {
        opacity: .7;
      }
    }
  }

  &.style-pink {

    .btn {
      display: block;
      padding: 12px 30px;
      font-family: $Raleway-ExtraBold;
      text-transform: uppercase;
      @include border-radius(40px);
      color: #fff;
      @include transition(all .3s);
      position: relative;
      letter-spacing: 1px;
      font-size: 13px;
      background: linear-gradient(to right, #8e0e0f, #b04d82);
      border: none;
      width: 100%;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.btn-back {
  padding-top: 50px;

  a {
    font-family: $Lora-BoldItalic;
    font-size: 24px;
    position: relative;
    display: block;
    padding-left: 100px;
    color: #333;

    &:before {
      @include pseudo-block($top: 50%, $left: 0);
      @include translateY(-50%);
      @include oneline-sprite-box($icons, arr-back);
      @include transition(all .3s);
    }

    &:hover {
      text-decoration: none;

      &:before {
        left: -15px;
      }
    }
  }
}